# PyCity Schools Analysis
* Schools with a higher Budget per Student saw decreasing reading scores as students progressed from 9th to 12th grade, but showed increasing Math scores.
* Larger schools tended to have a higher Budget per Student. Budgeting more for smaller schools would help increase Budget per Student in smaller schools, without drastically decreasing Budget per Student in larger schools.

In [218]:
#Import Dependancies
import os
import pandas as pd

In [219]:
#Read CSVs and put into DataFrame
studentPath = os.path.join('Resources', 'students_complete.csv')
schoolPath = os.path.join('Resources', 'schools_complete.csv')

studentDF = pd.read_csv(studentPath)
schoolDF = pd.read_csv(schoolPath)

#Merge DataFrames
combinedDF = pd.merge(studentDF, schoolDF)

# District Summary

In [220]:
#Calculate Number of Schools
numSchools = combinedDF['school_name'].nunique()

In [221]:
#Calculate Number of Students
numStudents = combinedDF['student_name'].count()

In [222]:
#Calculate Total Budget
totBudget = (combinedDF['budget'].unique()).sum()

In [223]:
#Calculate Average Math Score
avgMath = combinedDF['math_score'].mean()

In [224]:
#Calculate Average Reading Score
avgReading = combinedDF['reading_score'].mean()

In [225]:
#Calcuate Percentage of Students Passing Math
passMath = (combinedDF[(combinedDF['math_score'] >= 70)].count()['student_name'] / numStudents) * 100

In [226]:
#Calculate Percentage of Students Passing Reading
passReading = (combinedDF[(combinedDF['reading_score'] >= 70)].count()['student_name'] / numStudents) * 100

In [227]:
#Calculate Percentage of Students Passing both Math and Reading
passTot = combinedDF[((combinedDF['reading_score'] >= 70) & (combinedDF['math_score'] >= 70))].count()['student_name'] / numStudents * 100

In [228]:
#Assign Calculated Values to Dictionary
distStats = {
                'Number of Schools' : numSchools,
                'Number of Students' : numStudents,
                'Total Budget' : totBudget,
                'Average Math Score' : avgMath,
                'Average Reading Score' : avgReading,
                'Percent Passing Math' : passMath,
                'Percent Passing Reading' : passReading,
                'Percent Passing Overall' : passTot
}

#Convert to DataFrame
distStatsDF = pd.DataFrame(distStats, index = ['District Stats'])

#Format Numbers
distStatsDF['Number of Students'] = distStatsDF['Number of Students'].map("{:,}".format)
distStatsDF['Total Budget'] = distStatsDF['Total Budget'].map("${:,}".format)
distStatsDF['Average Math Score'] = distStatsDF['Average Math Score'].map("{:.2f}%".format)
distStatsDF['Average Reading Score'] = distStatsDF['Average Reading Score'].map("{:.2f}%".format)
distStatsDF['Percent Passing Math'] = distStatsDF['Percent Passing Math'].map("{:.2f}%".format)
distStatsDF['Percent Passing Reading'] = distStatsDF['Percent Passing Reading'].map("{:.2f}%".format)
distStatsDF['Percent Passing Overall'] = distStatsDF['Percent Passing Overall'].map("{:.2f}%".format)
distStatsDF

,Number of Schools,Number of Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
District Stats,15,"39,170","$24,649,428",78.99%,81.88%,74.98%,85.81%,65.17%

# School Summary

In [229]:
#Get School Type
schoolTypes = schoolDF.set_index(['school_name'])['type']

In [230]:
#Get Student Count per School
studentsPer = studentDF.groupby('school_name')['student_name'].count()

In [231]:
#Get Budget per School
budgetPer = schoolDF.set_index(['school_name'])['budget']

In [232]:
#Calculate Budget per Student
budgetPerStudent = budgetPer / studentsPer

In [233]:
#Get Average Math & Reading Score per School
avgMathPer = studentDF.groupby('school_name')['math_score'].mean()
avgReadingPer = studentDF.groupby('school_name')['reading_score'].mean()

In [234]:
#Calculate Number of Students Passing Math & Reading
passingMath = studentDF.loc[studentDF['math_score'] >= 70]
passingMath = (passingMath.groupby('school_name')['student_name'].count() / studentsPer) * 100

passingReading = studentDF.loc[studentDF['reading_score'] >= 70]
passingReading = (passingReading.groupby('school_name')['student_name'].count() / studentsPer) * 100

In [235]:
#Calculate Number of Students Passing both Math & Reading
passingBoth = studentDF.loc[(studentDF['math_score'] >= 70) & (studentDF['reading_score'] >= 70)]
passingBoth = (passingBoth.groupby('school_name')['student_name'].count() / studentsPer) * 100

In [236]:
#Combine Data into DataFrame
perSchoolSummary = {
                    'School Type' : schoolTypes,
                    'Total Students' : studentsPer,
                    'Budget' : budgetPer,
                    'Budget per Student' : budgetPerStudent,
                    'Average Math Score' : avgMathPer,
                    'Average Reading Score' : avgReadingPer,
                    'Percent Passing Math' : passingMath,
                    'Percent Passing Reading' : passingReading,
                    'Percent Passing Overall' : passingBoth
                    }
summaryDF = pd.DataFrame(perSchoolSummary)
summaryDF_formatted = summaryDF.copy()

#Formatting
summaryDF_formatted['Total Students'] = summaryDF['Total Students'].map('{:,}'.format)
summaryDF_formatted['Budget'] = summaryDF['Budget'].map('${:,}'.format)
summaryDF_formatted['Budget per Student'] = summaryDF['Budget per Student'].map('${:.2f}'.format)
summaryDF_formatted['Average Math Score'] = summaryDF['Average Math Score'].map('{:.2f}%'.format)
summaryDF_formatted['Average Reading Score'] = summaryDF['Average Reading Score'].map('{:.2f}%'.format)
summaryDF_formatted['Percent Passing Math'] = summaryDF['Percent Passing Math'].map('{:.2f}%'.format)
summaryDF_formatted['Percent Passing Reading'] = summaryDF['Percent Passing Reading'].map('{:.2f}%'.format)
summaryDF_formatted['Percent Passing Overall'] = summaryDF['Percent Passing Overall'].map('{:.2f}%'.format)
summaryDF_formatted

,School Type,Total Students,Budget,Budget per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928",$628.00,77.05%,81.03%,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356",$582.00,83.06%,83.98%,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411",$639.00,76.71%,81.16%,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916",$644.00,77.10%,80.75%,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500",$625.00,83.35%,83.82%,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","$3,022,020",$652.00,77.29%,80.93%,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087",$581.00,83.80%,83.81%,92.51%,96.25%,89.23%
Huang High School,District,"2,917","$1,910,635",$655.00,76.63%,81.18%,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","$3,094,650",$650.00,77.07%,80.97%,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858",$609.00,83.84%,84.04%,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","$2,547,363",$637.00,76.84%,80.74%,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","$1,056,600",$600.00,83.36%,83.73%,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","$1,043,130",$638.00,83.42%,83.85%,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","$1,319,574",$578.00,83.27%,83.99%,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","$1,049,400",$583.00,83.68%,83.95%,93.33%,96.61%,90.33%

# Highest Performing Schools by % Passing Overall

In [237]:
#Sort by % Passing and Display top 5
summaryDF.sort_values(by = ['Percent Passing Overall'], ascending= False).head(5)

,School Type,Total Students,Budget,Budget per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

# Bottom Performing Schools by % Passing Overall

In [238]:
#Sort by % Passing and Display Bottom 5
summaryDF.sort_values(by = ['Percent Passing Overall']).head(5)

,School Type,Total Students,Budget,Budget per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

# Scores by Grade

In [239]:
#Seperate by Grade
ninthGrade = combinedDF[(combinedDF['grade'] == '9th')]
tenthGrade = combinedDF[(combinedDF['grade'] == '10th')]
eleventhGrade = combinedDF[(combinedDF['grade'] == '11th')]
twelthGrade = combinedDF[(combinedDF['grade'] == '12th')]

#Group by School and get Mean Score
ninthScores = ninthGrade.groupby('school_name').mean()
tenthScores = tenthGrade.groupby('school_name').mean()
eleventhScores = eleventhGrade.groupby('school_name').mean()
twelthScores = twelthGrade.groupby('school_name').mean()

In [240]:
#Combine Math Scores
mathByGrade = {
                '9th Grade' : ninthScores['math_score'],
                '10th Grade' : tenthScores['math_score'],
                '11th Grade' : eleventhScores['math_score'],
                '12th Grade' : twelthScores['math_score']
}
mathByGradeDF = pd.DataFrame(mathByGrade)

#Formatting
mathByGradeDF = mathByGradeDF.applymap('{:.2f}%'.format)
mathByGradeDF.index.name = None
mathByGradeDF

                      9th Grade 10th Grade 11th Grade 12th Grade
Bailey High School       77.08%     77.00%     77.52%     76.49%
Cabrera High School      83.09%     83.15%     82.77%     83.28%
Figueroa High School     76.40%     76.54%     76.88%     77.15%
Ford High School         77.36%     77.67%     76.92%     76.18%
Griffin High School      82.04%     84.23%     83.84%     83.36%
Hernandez High School    77.44%     77.34%     77.14%     77.19%
Holden High School       83.79%     83.43%     85.00%     82.86%
Huang High School        77.03%     75.91%     76.45%     77.23%
Johnson High School      77.19%     76.69%     77.49%     76.86%
Pena High School         83.63%     83.37%     84.33%     84.12%
Rodriguez High School    76.86%     76.61%     76.40%     77.69%
Shelton High School      83.42%     82.92%     83.38%     83.78%
Thomas High School       83.59%     83.09%     83.50%     83.50%
Wilson High School       83.09%     83.72%     83.20%     83.04%
Wright High School       83.26%     84.01%     83.84%     83.64%

In [241]:
#Combine Reading Scores
readingByGrade = {
                '9th Grade' : ninthScores['reading_score'],
                '10th Grade' : tenthScores['reading_score'],
                '11th Grade' : eleventhScores['reading_score'],
                '12th Grade' : twelthScores['reading_score']
}
readingByGradeDF = pd.DataFrame(readingByGrade)

#Formatting
readingByGradeDF = readingByGradeDF.applymap('{:.2f}%'.format)
readingByGradeDF.index.name = None
readingByGradeDF

                      9th Grade 10th Grade 11th Grade 12th Grade
Bailey High School       81.30%     80.91%     80.95%     80.91%
Cabrera High School      83.68%     84.25%     83.79%     84.29%
Figueroa High School     81.20%     81.41%     80.64%     81.38%
Ford High School         80.63%     81.26%     80.40%     80.66%
Griffin High School      83.37%     83.71%     84.29%     84.01%
Hernandez High School    80.87%     80.66%     81.40%     80.86%
Holden High School       83.68%     83.32%     83.82%     84.70%
Huang High School        81.29%     81.51%     81.42%     80.31%
Johnson High School      81.26%     80.77%     80.62%     81.23%
Pena High School         83.81%     83.61%     84.34%     84.59%
Rodriguez High School    80.99%     80.63%     80.86%     80.38%
Shelton High School      84.12%     83.44%     84.37%     82.78%
Thomas High School       83.73%     84.25%     83.59%     83.83%
Wilson High School       83.94%     84.02%     83.76%     84.32%
Wright High School       83.83%     83.81%     84.16%     84.07%

# Scores by School size

In [242]:
# Establish bins 
size_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [243]:
#Copy Summary, set to Numeric
sizeDF = summaryDF.copy()
sizeDF['Budget per Student'] = pd.to_numeric(sizeDF['Budget per Student'])

In [244]:
#Categorize size based on bins
sizeDF['size Ranges (Per Student)'] = pd.cut(x = sizeDF['Budget per Student'], bins = size_bins, labels = labels)

In [245]:
#  Calculate averages for the desired columns. 
sizePerMath = sizeDF.groupby(["size Ranges (Per Student)"]).mean()["Average Math Score"]
sizePerReading = sizeDF.groupby(["size Ranges (Per Student)"]).mean()["Average Reading Score"]
sizePerPassingMath = sizeDF.groupby(["size Ranges (Per Student)"]).mean()["Percent Passing Math"]
sizePerPassingReading = sizeDF.groupby(["size Ranges (Per Student)"]).mean()["Percent Passing Reading"]
sizePerPassingOverall = sizeDF.groupby(["size Ranges (Per Student)"]).mean()["Percent Passing Overall"]

In [246]:
sizePerMath

size Ranges (Per Student)
<$585       83.455399
$585-630    81.899826
$630-645    78.518855
$645-680    76.997210
Name: Average Math Score, dtype: float64

In [247]:
#Combile Results into DataFrame
sizeSummary = {
                    'Average Math Score' : sizePerMath,
                    'Average Reading Score' : sizePerReading,
                    'Percent Passing Math' : sizePerPassingMath,
                    'Percent Passing Reading' : sizePerPassingReading,
                    'Percent Passing Overall' : sizePerPassingOverall
}
sizeSummaryDF = pd.DataFrame(sizeSummary)

#Formatting
sizeSummaryDF = sizeSummaryDF.applymap('{:.2f}%'.format)

sizeSummaryDF

,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
size Ranges (Per Student),,,,,
<$585,83.46%,83.93%,93.46%,96.61%,90.37%
$585-630,81.90%,83.16%,87.13%,92.72%,81.42%
$630-645,78.52%,81.62%,73.48%,84.39%,62.86%
$645-680,77.00%,81.03%,66.16%,81.13%,53.53%

# Scores by School Size

In [248]:
# Establish bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [249]:
#Copy Summary, Apply Cut
sizeDF = summaryDF.copy()
sizeDF['School Size'] = pd.cut(x = sizeDF['Total Students'], bins = size_bins, labels = labels)

In [250]:
# Calculate averages for the desired columns. 
sizePerMath = sizeDF.groupby(["School Size"]).mean()["Average Math Score"]
sizePerReading = sizeDF.groupby(["School Size"]).mean()["Average Reading Score"]
sizePerPassingMath = sizeDF.groupby(["School Size"]).mean()["Percent Passing Math"]
sizePerPassingReading = sizeDF.groupby(["School Size"]).mean()["Percent Passing Reading"]
sizePerPassingOverall = sizeDF.groupby(["School Size"]).mean()["Percent Passing Overall"]

In [251]:
#Combile Results into DataFrame
sizeSummary = {
                    'Average Math Score' : sizePerMath,
                    'Average Reading Score' : sizePerReading,
                    'Percent Passing Math' : sizePerPassingMath,
                    'Percent Passing Reading' : sizePerPassingReading,
                    'Percent Passing Overall' : sizePerPassingOverall
}
sizeSummaryDF = pd.DataFrame(sizeSummary)

#Formatting
sizeSummaryDF = sizeSummaryDF.applymap('{:.2f}%'.format)

sizeSummaryDF

,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
School Size,,,,,
Small (<1000),83.82%,83.93%,93.55%,96.10%,89.88%
Medium (1000-2000),83.37%,83.86%,93.60%,96.79%,90.62%
Large (2000-5000),77.75%,81.34%,69.96%,82.77%,58.29%

# Scores by School Type

In [252]:
#Calculate Average Scores per School Type
typePerMath = summaryDF.groupby(['School Type']).mean()['Average Math Score']
typePerReading = summaryDF.groupby(['School Type']).mean()['Average Reading Score']
typePerPassingMath = summaryDF.groupby(['School Type']).mean()['Percent Passing Math']
typePerPassingReading = summaryDF.groupby(['School Type']).mean()['Percent Passing Reading']
typePerPassingOverall = summaryDF.groupby(['School Type']).mean()['Percent Passing Overall']

In [253]:
typeSummary = {
                'Average Math Score' : typePerMath,
                'Average Reading Score' : typePerReading,
                'Percent Passing Math' : typePerPassingMath,
                'Percent Passing Reading' : typePerPassingReading,
                'Percent Passing Overall' : typePerPassingOverall
}

typeSummaryDF = pd.DataFrame(typeSummary)

#Formatting
typeSummaryDF = typeSummaryDF.applymap('{:.2f}%'.format)

typeSummaryDF

,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
School Type,,,,,
Charter,83.47%,83.90%,93.62%,96.59%,90.43%
District,76.96%,80.97%,66.55%,80.80%,53.67%

# Additional Analysis

### Score Changes by Budget per Student

In [281]:
#Get Percentage Reading Score Change (Sorted by Budget per Student)
comDF = pd.merge(readingByGradeDF, summaryDF['Budget per Student'], left_index = True, right_index = True)
comDF['9th Grade'] = comDF['9th Grade'].str.strip('%')
comDF['10th Grade'] = comDF['10th Grade'].str.strip('%')
comDF['11th Grade'] = comDF['11th Grade'].str.strip('%')
comDF['12th Grade'] = comDF['12th Grade'].str.strip('%')

comDF['9th Grade'] = pd.to_numeric(comDF['9th Grade'])
comDF['10th Grade'] = pd.to_numeric(comDF['10th Grade'])
comDF['11th Grade'] = pd.to_numeric(comDF['11th Grade'])
comDF['12th Grade'] = pd.to_numeric(comDF['12th Grade'])

comDF['Score Change'] = comDF['12th Grade'] / comDF['9th Grade']
comDF = comDF.sort_values(by = 'Budget per Student')
comDF

,9th Grade,10th Grade,11th Grade,12th Grade,Budget per Student,Score Change
Wilson High School,83.94,84.02,83.76,84.32,578.0,1.004527
Holden High School,83.68,83.32,83.82,84.70,581.0,1.012189
Cabrera High School,83.68,84.25,83.79,84.29,582.0,1.007290
Wright High School,83.83,83.81,84.16,84.07,583.0,1.002863
Shelton High School,84.12,83.44,84.37,82.78,600.0,0.984070
Pena High School,83.81,83.61,84.34,84.59,609.0,1.009307
Griffin High School,83.37,83.71,84.29,84.01,625.0,1.007677
Bailey High School,81.30,80.91,80.95,80.91,628.0,0.995203
Rodriguez High School,80.99,80.63,80.86,80.38,637.0,0.992468
Thomas High School,83.73,84.25,83.59,83.83,638.0,1.001194
Figueroa High School,81.20,81.41,80.64,81.38,639.0,1.002217
Ford High School,80.63,81.26,80.40,80.66,644.0,1.000372
Johnson High School,81.26,80.77,80.62,81.23,650.0,0.999631
Hernandez High School,80.87,80.66,81.40,80.86,652.0,0.999876
Huang High School,81.29,81.51,81.42,80.31,655.0,0.987944

In [282]:
#Get Percentage Math Score Change (Sorted by Budget per Student)
comDF = pd.merge(mathByGradeDF, summaryDF['Budget per Student'], left_index = True, right_index = True)
comDF['9th Grade'] = comDF['9th Grade'].str.strip('%')
comDF['10th Grade'] = comDF['10th Grade'].str.strip('%')
comDF['11th Grade'] = comDF['11th Grade'].str.strip('%')
comDF['12th Grade'] = comDF['12th Grade'].str.strip('%')

comDF['9th Grade'] = pd.to_numeric(comDF['9th Grade'])
comDF['10th Grade'] = pd.to_numeric(comDF['10th Grade'])
comDF['11th Grade'] = pd.to_numeric(comDF['11th Grade'])
comDF['12th Grade'] = pd.to_numeric(comDF['12th Grade'])

comDF['Score Change'] = comDF['12th Grade'] / comDF['9th Grade']
comDF = comDF.sort_values(by = 'Budget per Student')
comDF

,9th Grade,10th Grade,11th Grade,12th Grade,Budget per Student,Score Change
Wilson High School,83.09,83.72,83.20,83.04,578.0,0.999398
Holden High School,83.79,83.43,85.00,82.86,581.0,0.988901
Cabrera High School,83.09,83.15,82.77,83.28,582.0,1.002287
Wright High School,83.26,84.01,83.84,83.64,583.0,1.004564
Shelton High School,83.42,82.92,83.38,83.78,600.0,1.004316
Pena High School,83.63,83.37,84.33,84.12,609.0,1.005859
Griffin High School,82.04,84.23,83.84,83.36,625.0,1.016090
Bailey High School,77.08,77.00,77.52,76.49,628.0,0.992346
Rodriguez High School,76.86,76.61,76.40,77.69,637.0,1.010799
Thomas High School,83.59,83.09,83.50,83.50,638.0,0.998923
Figueroa High School,76.40,76.54,76.88,77.15,639.0,1.009817
Ford High School,77.36,77.67,76.92,76.18,644.0,0.984747
Johnson High School,77.19,76.69,77.49,76.86,650.0,0.995725
Hernandez High School,77.44,77.34,77.14,77.19,652.0,0.996772
Huang High School,77.03,75.91,76.45,77.23,655.0,1.002596

### Budget per Student by School Size

In [291]:
comDF = pd.merge(sizeDF, summaryDF['Budget per Student'], left_index = True, right_index = True)
consolidatedDF = comDF[['School Size', 'Budget per Student_x']]
consolidatedDF = consolidatedDF.sort_values(by = 'Budget per Student_x')
consolidatedDF

                              School Size  Budget per Student_x
school_name
Wilson High School      Large (2000-5000)                 578.0
Holden High School          Small (<1000)                 581.0
Cabrera High School    Medium (1000-2000)                 582.0
Wright High School     Medium (1000-2000)                 583.0
Shelton High School    Medium (1000-2000)                 600.0
Pena High School            Small (<1000)                 609.0
Griffin High School    Medium (1000-2000)                 625.0
Bailey High School      Large (2000-5000)                 628.0
Rodriguez High School   Large (2000-5000)                 637.0
Thomas High School     Medium (1000-2000)                 638.0
Figueroa High School    Large (2000-5000)                 639.0
Ford High School        Large (2000-5000)                 644.0
Johnson High School     Large (2000-5000)                 650.0
Hernandez High School   Large (2000-5000)                 652.0
Huang High School       Large (2000-5000)                 655.0